extend layout
block content

  form(role="form")
    div.row
      .col-lg-2
        label Aanhef:*
      .col-lg-4
        div(data-toggle="buttons").btn-group.btn-group-lg
          label.btn.btn-default De heer
            input#mr(type="radio", name="options")
          label.btn.btn-default Mevrouw
            input#ms(type="radio", name="options")

    p.text-primary Vul in:
    div.row
      .col-lg-2
        p.text-right Initials
      .col-lg-4
        input.form-control(type="text")
      .col-lg-2
        p.text-right bla
      .col-lg-4
        input.form-control.col-lg-3(type="text")
    div.row
      .col-lg-2
        p.text-right Lastname
      .col-lg-4
        input.form-control(type="text")
    div.row
      .col-lg-2
        p.text-right Birthdate
      .col-lg-1
        input.form-control(type="text")
      .col-lg-1
        input.form-control(type="text")
      .col-lg-1
        input.form-control(type="text")
      .col-lg-1
      .col-lg-6
        label enter "00" if bla
    div.row
      .col-lg-2
        p.text-right Postalcode
      .col-lg-2
        input.form-control(type="text")
      .col-lg-2
        input.form-control(type="text")
      .col-lg-6
        label Enter "0000 AA" blah
    div.row
      .col-lg-2
        p.text-right Housenumber
      .col-lg-2
        input.form-control(type="text")
      .col-lg-2
      .col-lg-2
        p.text-right addition
      .col-lg-2
        input.form-control(type="text")
    button.btn.btn-primary OK

