extend layout
block content

  form(role="form",method='post')
    div.input-group.input-group-lg
      span.input-group-addon
        span.glyphicon.glyphicon-barcode
      input.form-control(type="text", placeholder="Scan barcode", autofocus)
